{% extends "layout.html" %}
{% block content %}
    {% if not posts %}
      <article class="media content-section">
        Such Empty, Much Wow
      </article>
    {% endif%}

    {% for post in posts %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author.username }}</a>
              <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
            <h4 class="article-content"> a) {{ post.c1 }}</h4>
            <p class="article-content">{{ post.v1 }}</p>
            <h4 class="article-content"> b) {{ post.c2 }}</h4>
            <p class="article-content">{{ post.v2 }}</p>
            <h4 class="article-content"> c){{ post.c3 }}</h4>
            <p class="article-content">{{ post.v3 }}</p>
            <h4 class="article-content"> d) {{ post.c4 }}</h4>
            <p class="article-content">{{ post.v4 }}</p>
            <h4 class="article-content"> e) {{ post.c5 }}</h4>
            <p class="article-content">{{ post.v5 }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}